<div class="login jumbotron center-block col-md-6 container">
  <h2 class="col-md-offset-2">Your Personal Details</h2>
  <br>
  <form role="form" (submit)="signup(first_name.value, last_name.value, email.value, password.value)">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" #first_name class="form-control" id="first_name" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="last_name" #last_name class="form-control" id="last_name" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" #email class="form-control" id="email" placeholder="Email Address" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" #password class="form-control" id="password" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-default">Sign Up</button>
    <a routerLink="/" routerLinkActive="active">Login Page</a>
  </form>

  	<span>{{errorMsg}}</span>
</div>
